<div layout="vertical" layout-align="center" flex="100">

  <md-content>
    <header>
      <acme-navbar></acme-navbar>
    </header>

    <section class="md-display-2">
      <h1>Overload RestAngular URL Calls Demo</h1>
      <p>
        With ♥ thanks to the contributions of
        <acme-malarkey extra-values="['Angular', 'Gulp', 'Npm', 'Bower', 'Jasmine', 'Protractor']"></acme-malarkey>
      </p>
    </section>
    <div ng-repeat="demo in home.viewdata.demos | orderBy:'rank'">
      <br>
      <br>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <span class="md-display-1">{{ demo.title }}</span>
          <span flex></span>
          <md-button class="md-primary md-hue-1" aria-label="Call Rest" ng-click="home.tech.fns.getHttpCalls($index, demo.dataType)">Call Oracall</md-button>
        </div>
      </md-toolbar>
      <md-content class="md-whiteframe-9dp" layout-padding>
        <div class="md-whiteframe-9dp" style="margin-left: 20px; margin-right: 20px">
          <p ng-style="{'margin-left':'20px'}"><span class="md-title">Description : </span>{{ demo.description }}</p>
          <p ng-style="{'margin-left':'20px'}"><span class="md-title"> To change : </span>{{ demo.toChange }}</p>
          <p ng-style="{'margin-left':'20px'}"><span class="md-title">Default Url : </span>{{ demo.urlDefault }}</p>
          <p ng-style="{'margin-left':'20px'}"><span class="md-title">Url to call : </span>{{ demo.urlToChange }}</p>
        </div>
        <br>
        <div class="md-whiteframe-9dp" style="margin-left: 20px; margin-right: 20px">
          <p ng-style="{'margin-left':'20px'}"><span class="md-title">response : </span><br>
            <json-formatter open="3" json='demo.response'></json-formatter>
          </p>
        </div>
      </md-content>
    </div>
  </md-content>

</div>
